* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: none;
}

/* HEADER */

.nav-wrapper {
    width: 100%;
    background: #0c0c0c;
  }
  
  .nav-wrapper nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    top: 50%;
  }
  
  .link {
    transition: all 0.3s ease;
  }
  
  .link span {
    display: inline-block;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    pointer-event: none;
    transition: transform 0.1s linear;
  }
  
  .cursor {
    pointer-events: none;
    position: fixed;
    padding: 0.3rem;
    background-color: #fff;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: transform 0.3s ease;
  }
  
  .link:hover ~ .cursor {
    transform:translate(-50%, -50%) scale(8);
  }
  
  
  @media screen and (max-width: 1024px) { 
  
    .nav-wrapper nav {
      flex-direction: column;
    }
  
  }  
  
header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #0c0c0c;
    padding: 15px; 
}

a {
    text-decoration: none;

}

.logo {
    display: flex;
}
.greetingGeneral{
    display: block;
}

#imgLogo{
    width: 65px;
    margin: 0px 0px 0px 30px;
    height: auto; 
    cursor: pointer;
}
.greetingGeneral{
    display: block;
    width: 225px;
}

#Header_Title{  
    font-size: 20px;
    padding: 0px 0px 0px 25px;
    color: #ffffff;
}

#Header_Title-Username  {
    color: #1DB954;
}

.Estados{
    display: flex;
}

.Purple {
    color: #1DB954;
}

.svgHome{
    margin-right: 10px ;
}

.userPart{
    display: flex;
}

.svgProfile{
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 5px 14px 0px 14px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #0c0c0c;
    cursor: pointer;
}

.svgProfile:hover{
    background-color: #0c0c0c;
    transition: .2s;
}

.svgChat{
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 5px 12px 0px 12px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #0c0c0c;
    cursor: pointer;
}

.svgChat:hover{
    background-color: #0c0c0c;
    transition: .2s;
}

#imgUserP img {
    cursor: pointer;
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    object-fit: cover;
    margin-left:5px;
}

#imagenesGuardadas img{
  width: 200px; 
  height: 200px; 
  border-radius: 50%;
}

#imagenesGuardadas {
  margin: auto;
  border-radius: 50%;
  align-items: center;
}

#imgUserP img:hover {
    filter: blur(0.4px);
    transition: .2s;
}


.user {
    font-size: 12px;
    font-weight: 500;
    padding: 3px 3px 3px 10px;
    display: flex;
    color: #fff;
    background-color: #0c0c0c;
    border-radius: 9px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 0px 20px 0px 0px;
}

.user:hover {
    transition: 0.2s;
    background-color: #0c0c0c;
}

#myName{
    color: #1DB954;
}
/* MAIN */

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2em 2em 0em 2em;
}

h2 {
    color: #333;
    margin-bottom: 1em;
}

#calculadoras input, #perfil input, textarea {
    padding: 0.5em;
    margin-top: 1em;
    width: 100%;
    max-width: 300px;
    display: block;
}

/*Photo main*/
  
  .wrapper,
  .content {
    position: relative;
    width: 100%;
    z-index: 1;
  }

  .content::-webkit-scrollbar {
    display: none;
    }
  
  .content {
    overflow-x: hidden;
  }
  
  .content .section {
    width: 100%;
    height: 100vh;
  }
  
  .content .section.hero {
    background-image: url(/media/cielo-al-atardecer-reflejado-en-el-mar_3840x2400_xtrafondos.com.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .image-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    perspective: 500px;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
/*Texto inicial*/
  pre {
    font-size: 1.3rem;
    line-height: 2rem;
    margin: auto;
    margin-top: 60px;
    width: 80%;
    padding: 2rem 10rem 2rem 10rem;
    background-color: #151718;
    color: #e6cd69;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(48, 46, 46, 0.5);
  }
  pre:hover {
    transition: 1.5s;
    box-shadow: 0 20px 40px rgba(71, 115, 236, 0.5);
  }

  code {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
  }
  pre {
  }
  i,
  b,
  u,
  em,
  strong {
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    color: #55b5db;
  }
  em {
    color: #a074c4;
  }
  strong {
    color: #9fca56;
  }
  u {
    color: #eeeeee;
  }
  s {
    color: #666666;
    text-decoration: none;
  }
  .lineOfCode {
    animation: typingEffect 1800ms steps(14, end) forwards 1000ms,
      caretAnim 500ms steps(2, end) 0s infinite;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
    border-right: 2px solid #ffffff;
  }
  .lineOfCode:nth-of-type(2) {
    height: 0;
    animation-delay: 3100ms;
  }
  .lineOfCode:nth-of-type(3) {
    height: 0;
    animation-delay: 5200ms;
  }
  
  @keyframes typingEffect {
    0% {
      border-width: 2px;
    }
    5% {
      width: 0;
      height: auto;
      border-width: 2px;
    }
    93% {
      border-width: 2px;
    }
    100% {
      width: 100%;
      height: auto;
      border-width: 0;
    }
  }
  @keyframes caretAnim {
    0% {
      border-color: transparent;
    }
    50% {
      border-color: #ffffff;
    }
    100% {
      border-color: transparent;
    }
  }
  

  /*FIRMA */
  .modal {
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 36px;
    width: 380px;
    height: 82px;
    padding: 18px 24px 24px 24px;
    border-radius: 40px;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.2) 100%);
    box-shadow: 0 0 16px 0 rgba(0,0,0,0);
    transition: 0.4s ease height, 0.4s ease padding, 0.2s border-radius, 0.6s ease box-shadow;
  }
  .modal:hover {
    box-shadow: 0 24px 48px -24px rgba(0,0,0,0.025);
  }
  
  .modal.active {
    height: 220px;
    padding: 32px;
    border-radius: 48px;
  }
  
  .field-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  .field {
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    /*   font-variation-settings: "wdth" 100; */
    font-size: 20px;
    display: flex;
    align-items: center;
    min-height: 48px;
    border-radius: 16px;
    border: 1px solid rgba(0,0,0,0.05);
    padding: 0 12px 2px 12px;
    background: none;
    color: #000;
    outline: none;
    transition: border 0.2s;
  }
  .active .field {
    border: 1px solid rgba(0,0,0,0.5);
  }
  
  .field::placeholder {
    opacity: 0.5;
    color: #000;
  }
  
  .sign, .signed-by {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.02em;
  }
  .active .signed-by {
    opacity: 1;
  }
  
  .sign {
    --green: #1BFD9C;
    font-size: 15px;
    letter-spacing: 0.06em;
    font-family: inherit;
    overflow: hidden;
    line-height: 1.4em;
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 8px;
    align-items: center;
    height: 44px;
    border-radius: 12px;
    padding: 0 14px 2px 12px;
    background: #282828;
    border: none;
    opacity: 0.2;
    transition: 0.2s;
  }

  .sign:hover {
    color: #82ffc9;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
  }
  
  .sign:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
  }
  
  .sign:hover:before {
    transform: translateX(15em);
  }
  .active .sign {
    opacity: 1;
  }
  
  .signature {
    border-bottom: 1px solid rgba(0,0,0,0.25)
  }
  
  .letter-bank {
    display: none;
  }
  
  .signed-by {
    color: rgba(0,0,0,0.5);
    opacity: 0;
    padding-bottom: 2px;
    transition: 0.2s ease;
  }

  .main-title {
    margin: 0;
	padding: 100px 0px 0px 0px;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
}

 .main-title {
	font-size: 3.0em;
}

.main-title .thin {
	font-weight:100;
    color:#1DB954;
    font-weight:700;
}

.main-title2 {
  color: #006400;
  margin: 0;
  color: #f9f1e9;
  text-align: center;

}

.main-title2 {
  font-size: 1.5em;
}

.main-title2 .thin {
font-weight:100;
  color:#1DB954;
  font-weight:700;
}
@media only screen and (max-width : 768px) {
	 .main-title {
		font-size: 3em;
	}
}
  .signature-main {
    display: flex;
    min-height: 51px;
    flex-flow: wrap;
    justify-content: start;
  }
  
  .signature-main svg path {
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 1;
    stroke: #000;
    transition: 0.2s stroke-dashoffset;
  }
  
  .up, .lo {
    max-height: 51px;
  }
  
  /* letter boxes */
  .up.a {
    margin: 0 -10px 0 -7px;}.up.b {margin: 0 -5px 0 -13px;}.up.c {margin: 0 -5px 0 -6px;}.up.d {margin: 0 -6px 0 -6px;}.up.e {margin: 0 -10px 0 -8px;}.up.f {margin: 0 -13px 0 -5px;}.up.g {margin: 0 0px 0 -6px;}.up.h {margin: 0 -8px 0 -6px;}
  .up.i {margin: 0 -25px 0 -16px;}.up.j {margin: 0 -24px 0 -6px;}.up.k {margin: 0 -23px 0 -3px;}.up.l {margin: 0 -7px 0 -5px;}.up.m {margin: 0 -7px 0 -10px;}.up.n {
    margin: 0 -4px 0 -10px;}.up.o {margin: 0 -1px 0 -1px;}.up.p { margin: 0 -12px 0 -3px;}.up.q { margin: 0 -3px 0 -3px;}.up.r { margin: 0 -8px 0 -4px;}.up.s { margin: 0 -14px 0 -2px;
  }.up.t { margin: 0 -29px 0 -17px;}.up.u {  margin: 0 -10px 0 -1px;}.up.v {  margin: 0 -15px 0 -6px;}.up.w {margin: 0 -8px 0 -6px;}.up.x {margin: 0 -11px 0 -13px;
  }.up.y {margin: 0 -12px 0 2px;}.up.z {margin: 0 -9px 0 -8px;}.lo.a {margin: 0 -4px 0 0;}.lo.b {margin: 0 -6px 0 -1.5px;}.lo.c {margin: 0 -4px 0 0;}.lo.d {margin: 0 -11.3px 0 0;}
  .lo.e { margin: 0 -4px 0 0;}.lo.f {  margin: 0 -6px 0 -6px;}.lo.g {  margin: 0 -4px 0 -10px;}.lo.h {  margin: 0 -4px 0 -1px;}.lo.i {  margin: 0 -3.5px 0 0;}.lo.j {
    margin: 0 -5px 0 -14px;}.lo.k {  margin: 0 -6.5px 0 0;}.lo.l {  margin: 0 -12px 0 -4px;}.lo.m, .lo.n {  margin: 0 -5px 0 0;}.lo.o {  margin: 0 -2.5px 0 0;
  }.lo.p { margin: 0 -2.5px 0 -10px; }.lo.q {  margin: 0 -2px 0 -6px;}.lo.r {  margin: 0 -3px 0 -1px;}.lo.s {  margin: 0 -4px 0 -4px;}.lo.t {  margin: 0 -12.5px 0 -3.5px;}
  .lo.u, .lo.v {  margin: 0 -4.5px 0 0;}.lo.w, .lo.x {  margin: 0 -4px 0 0;}.lo.y {  margin: 0 -4px 0 -9px;}.lo.z {  margin: 0 -4px 0 -10px;}
  
  /* letter paths */
  .up.a path {  stroke-dasharray: 190;  stroke-dashoffset: 190;}.up.b path {  stroke-dasharray: 230;  stroke-dashoffset: 230;}.up.c path{  stroke-dasharray: 101;  stroke-dashoffset: 101;}.up.d path {  stroke-dasharray: 194;  stroke-dashoffset: 194;}
.up.e path {
  stroke-dasharray: 132;  stroke-dashoffset: 132;}
  .up.f path {  stroke-dasharray: 191;  stroke-dashoffset: 191;}.up.g path {  stroke-dasharray: 145;  stroke-dashoffset: 145;
  }.up.h path {  stroke-dasharray: 235;  stroke-dashoffset: 235;}.up.i path {  stroke-dasharray: 128;  stroke-dashoffset: 128;}.up.j path {  stroke-dasharray: 174;  stroke-dashoffset: 174;
  }.up.k path {  stroke-dasharray: 244;  stroke-dashoffset: 244;
  }.up.l path {  stroke-dasharray: 83;  stroke-dashoffset: 83;}.up.m path {  stroke-dasharray: 176;  stroke-dashoffset: 176;}.up.n path {  stroke-dasharray: 111;  stroke-dashoffset: 111;}.up.o path {  stroke-dasharray: 167;  stroke-dashoffset: 167;}.up.p path {  stroke-dasharray: 203;  stroke-dashoffset: 203;}
  .up.q path {  stroke-dasharray: 212;  stroke-dashoffset: 212;}.up.r path {  stroke-dasharray: 235;  stroke-dashoffset: 235;}.up.s path {  stroke-dasharray: 100;  stroke-dashoffset: 100;}.up.t path {  stroke-dasharray: 133;  stroke-dashoffset: 133;}.up.u path {  stroke-dasharray: 136;  stroke-dashoffset: 136;}.up.v path {  stroke-dasharray: 100;  stroke-dashoffset: 100;}.up.w path {  stroke-dasharray: 163;  stroke-dashoffset: 163;}.up.x path {  stroke-dasharray: 153;  stroke-dashoffset: 153;}.up.y path {  stroke-dasharray: 162;  stroke-dashoffset: 162;}.up.z path {  stroke-dasharray: 149;  stroke-dashoffset: 149;}.lo.a path {  stroke-dasharray: 36;  stroke-dashoffset: 36;}.lo.b path {  stroke-dasharray: 64;  stroke-dashoffset: 64;}.lo.c path {  stroke-dasharray: 17;  stroke-dashoffset: 17;}.lo.d path {  stroke-dasharray: 73;  stroke-dashoffset: 73;}.lo.e path {  stroke-dasharray: 22;  stroke-dashoffset: 22;}.lo.f path {  stroke-dasharray: 59;  stroke-dashoffset: 59;}.lo.g path {  stroke-dasharray: 75;  stroke-dashoffset: 75;}.lo.h path {  stroke-dasharray: 48;  stroke-dashoffset: 48;}
  .lo.i path {  stroke-dasharray: 16;  stroke-dashoffset: 16;}.lo.j path {  stroke-dasharray: 59;  stroke-dashoffset: 59;}.lo.k path {  stroke-dasharray: 54;  stroke-dashoffset: 54;}.lo.l path {  stroke-dasharray: 33;  stroke-dashoffset: 33;}.lo.m path {  stroke-dasharray: 43;  stroke-dashoffset: 43;}.lo.n path {  stroke-dasharray: 27;  stroke-dashoffset: 27;}.lo.o path {  stroke-dasharray: 17;  stroke-dashoffset: 17;}.lo.p path {  stroke-dasharray: 67;  stroke-dashoffset: 67;}.lo.q path {  stroke-dasharray: 63;  stroke-dashoffset: 63;}
  .lo.r path {  stroke-dasharray: 24;  stroke-dashoffset: 24;}.lo.s path {  stroke-dasharray: 32;  stroke-dashoffset: 32;}.lo.t path {  stroke-dasharray: 91;  stroke-dashoffset: 91;}.lo.u path {  stroke-dasharray: 28;  stroke-dashoffset: 28;}.lo.v path {  stroke-dasharray: 17;  stroke-dashoffset: 17;}.lo.w path {  stroke-dasharray: 21;  stroke-dashoffset: 21;}.lo.x path {  stroke-dasharray: 24;  stroke-dashoffset: 24;}.lo.y path {  stroke-dasharray: 70;  stroke-dashoffset: 70;}.lo.z path {  stroke-dasharray: 67;  stroke-dashoffset: 67;}
/*COMENTARIO*/
*{
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --hue: 53;
    --bg: hsl(var(--hue),10%,90%);
    --fg: hsl(var(--hue),10%,10%);
    --primary: hsl(var(--hue),90%,50%);
    --trans-dur: 0.3s;
    --trans-timing1: cubic-bezier(0.65,0,0.35,1);
    --trans-timing2: cubic-bezier(0.65,0,0.35,1.35);
    font-size: calc(14px + (30 - 14) * (100vw - 280px) / (3840 - 280));
  }
  
  button,
  textarea {
    font: 1em/1.5 Montserrat, sans-serif;
  }
  
  body {
    background-color: #101010; /* Color de fondo oscuro */
    background-image: 
    radial-gradient(circle at 20% 30%, rgba(255, 0, 100, 0.15), transparent 30%),  /* Rosa */
    radial-gradient(circle at 80% 70%, rgba(0, 255, 200, 0.1), transparent 25%),   /* Turquesa */
    radial-gradient(circle at 50% 50%, rgba(255, 255, 0, 0.2), transparent 30%),   /* Amarillo */
    radial-gradient(circle at 30% 80%, rgba(0, 100, 255, 0.1), transparent 20%),   /* Azul */
    radial-gradient(circle at 70% 20%, rgba(255, 165, 0, 0.12), transparent 25%);  /* Naranja */
    background-size: cover;
  }
  
  .idea-form {
    background-color: black;
    color: white;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 16.5em;
    height: 4.5em;
    margin-left: 150px;
    transition: background-color var(--trans-dur), color var(--trans-dur), height var(--trans-dur) var(--trans-timing2);
  }

  .idea-form, .idea-form__btn, .idea-form__content {
    border-radius: 1.5em;
  }
  .idea-form, .idea-form__btn {
    position: relative;
  }
  .idea-form__btn, .idea-form__textarea {
    outline: transparent;
    transition: background-color var(--trans-dur), box-shadow var(--trans-dur), opacity var(--trans-dur) var(--trans-timing1);
    -webkit-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
  }
  .idea-form__btn:disabled, .idea-form__textarea:disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
  .idea-form__btn {
    background-color: black;
    box-shadow: 0 0 0 0.25em hsla(var(--hue), 90%, 30%, 0);
    color: white;
    cursor: pointer;
    display: flex;
    margin-inline-start: auto;
    padding: 0.5em 1em;
    z-index: 2;
  }
  .idea-form__btn--start {
    background-color: transparent;
    box-shadow: none;
    color: currentColor;
    display: flex;
    align-items: center;
    letter-spacing: 0.0625em;
    padding-inline-start: 5.25em;
    width: 100%;
    height: 4.5em;
    text-transform: uppercase;
    transition: opacity var(--trans-dur) var(--trans-timing1), visibility var(--trans-dur) steps(1, start);
  }
  .idea-form__btn:focus-visible {
    box-shadow: 0 0 0 0.25em hsla(var(--hue), 90%, 30%, 1);
  }
  .idea-form__content {
    opacity: 0;
    padding: 0.5em 1em 0.75em;
    padding-inline-start: 5.25em;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: opacity var(--trans-dur) var(--trans-timing1), visibility var(--trans-dur) steps(1, end);
  }
  .idea-form__fill, .idea-form__icon, .idea-form__label {
    position: absolute;
  }
  .idea-form__fill {
    background-color: hsl(var(--hue), 90%, 50%);
    border-radius: 50%;
    top: 1.75em;
    left: 2em;
    width: 1em;
    height: 1em;
    transform: translateY(50%) scale(0);
    transition: transform var(--trans-dur) var(--trans-timing1);
  }
  [dir=rtl] .idea-form__fill {
    right: 2em;
    left: auto;
  }
  .idea-form__btn--start:focus-visible {
    box-shadow: none;
  }
  .idea-form__btn--start:focus-visible + .idea-form__fill, .idea-form__btn--start:hover + .idea-form__fill {
    transform: translateY(0) scale(1);
  }
  .idea-form__icon {
    color: currentColor;
    display: block;
    top: 0.75em;
    left: 1em;
    width: 3em;
    height: 3em;
    z-index: 1;
  }
  [dir=rtl] .idea-form__icon {
    right: 1em;
    left: auto;
  }
  .idea-form__label {
    overflow: hidden;
    width: 1px;
    height: 1px;
  }
  .idea-form__textarea {
    background-color: transparent;
    color: black;
    display: block;
    margin-bottom: 0.75em;
    resize: none;
    width: 100%;
    height: 3em;
  }
  .idea-form__textarea::placeholder {
    color: hsl(var(--hue), 10%, 50%);
  }
  .idea-form[data-expanded=true] {
    background-color: transparent;
    height: 8.5em;
    transition-timing-function: steps(1, end), ease, var(--trans-timing2);
  }
  .idea-form[data-expanded=true] .idea-form__btn--start {
    opacity: 0;
    pointer-events: none;
    transition-timing-function: var(--trans-timing1), steps(1, end);
    visibility: hidden;
  }
  .idea-form[data-expanded=true] .idea-form__content {
    opacity: 1;
    transition-timing-function: var(--trans-timing1), steps(1, start);
    visibility: visible;
  }
  .idea-form[data-expanded=true] .idea-form__fill {
    transform: translateY(0) scale(32);
  }
  
  /* Dark theme */
  @media (prefers-color-scheme: dark) {
    :root {
      --bg: hsl(var(--hue),10%,10%);
      --fg: hsl(var(--hue),10%,90%);
    }
  
    .idea-form {
      background-color: white;
      color: black;
    }
  }
  .btn {
    margin: auto;
    border: none;
    width: 15em;
    height: 5em;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #1C1A1C;
    cursor: pointer;
    transition: all 450ms ease-in-out;
  }
  
  .sparkle {
    fill: #AAAAAA;
    transition: all 800ms ease;
  }
  
  .text {
    font-weight: 600;
    color: #AAAAAA;
    font-size: medium;
  }
  
  .btn:hover {
    background: linear-gradient(0deg,#A47CF3,#683FEA);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 180px 0px #9917FF;
    transform: translateY(-2px);
  }

  #calculadoras {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  #simulador {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-image: 
    radial-gradient(circle at 20% 30%, rgba(255, 0, 100, 0.15), transparent 30%),  /* Rosa */
    radial-gradient(circle at 80% 70%, rgba(0, 255, 200, 0.1), transparent 25%),   /* Turquesa */
    radial-gradient(circle at 50% 50%, rgba(255, 255, 0, 0.2), transparent 30%),   /* Amarillo */
    radial-gradient(circle at 30% 80%, rgba(0, 100, 255, 0.1), transparent 20%),   /* Azul */
    radial-gradient(circle at 70% 20%, rgba(255, 165, 0, 0.12), transparent 25%);  /* Naranja */
    background-size: cover;
    border-radius: 8px;
    transition: 1s;
    border:1px solid #000;
  }

  #simulador:hover {
    transform: translateZ(5px) rotateX(15deg) rotateY(15deg);
    transition: 1s;
    box-shadow: 20px 20px 60px #474646,
                  -20px -0px 60px #3b3737;
  }
  
  #perfilForm {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .user-label {
    display: block;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 8px;
  }
  .input-group {
    position: relative;
   }
   
   .input {
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
   }
  
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
  }

  .input:focus, input:valid {
    outline: none;
    border: 1.5px solid #c4c4c4;
   }
   
   .input:focus ~ label, input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: #212121;
    padding: 0 .2em;
    color: #2196f3;
   }

  input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;

    }
  
  button[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c782e;
    color: #ffffff;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    transition: 2s;
    background-color: #45a049;
    font-size: 19px;
  }

  .text {
    color: #FFF;
  }

  #formName{
    display: flex
  }
   /*  Scrollbar */

 body::-webkit-scrollbar-track
 {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
   background-color: #141414;
   border-radius: 10px;
 }
 
 body::-webkit-scrollbar
 {
   width: 10px;
   background-color: #141414;
 }
 
 body::-webkit-scrollbar-thumb
 {
   border-radius: 10px;
   background-color: #FFF;
   background-image: -webkit-gradient(linear,
                      40% 0%,
                      75% 84%,
                      from(#4D9C41),
                      to(#19911D),
                      color-stop(.6,#54DE5D))
 }
  
 /*footer*/

 .wave{
    display: flex;
    padding-bottom: -10px;
 }
 .footer {
    position: relative;
    width: 100%;
    background: #0c0c0c;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }